
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    /* background-color: #ecf2f8; */
}
/* =================================================================================== */
                /* secound (right div) */

 
.Container_Login{ 
    display: flex;
    background-color: #ecf2f8;
}
.Container_Login1{                
 width: 70%;
 /* border: 1px solid red; */
}
 
.Container_Login2{
    width: 30%;
   
    }   
.Container_Login2_text{
    height: 300px;
    width: 100%;
    /* border: 1px solid red; */
   
   
}
.Container_Login2_img{
    height: 450px;
    width: 100%;
    /* border: 1px solid red; */
    background-color: #3F51B5;
    padding-left: 20px;
}
.Container_Login2_image{
height: 95%;
}

.Container_Login2_text1{
    height: 35%;
    width: 100%;
    /* border: 1px solid red; */
    background-color: #3F51B5;
    text-align: center;
}
.Container_Login2_text1_btn{
    height: 20px;
    width: 50px;
    color: #212529;
    background-color: #E4EAEE;
    border-radius: 3px;
    font-size: 12px;
    margin-top: 30px;
    margin-bottom: 10px;
   
}
.Container_Login2_text1_h1{
    background-color: #3F51B5;
    color: #FFFFFF;
    font-size: 34px;
}

.Container_Login2_text2{
    height: 40%;
    width: 100%;
    /* border: 1px solid red; */
    background-color: #3F51B5;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}
.Container_Login2_text2_t{
    width: 70%;
    margin: auto;
    color: #FFFFFF;
    background-color: #3F51B5;
    font-size: 17px;
}
.Container_Login2_text3{
    height: 25%;
    width: 100%;
    /* border: 1px solid red; */
    background-color: #3F51B5;
    text-align: center;
}
.Container_Login2_text3_btn{
    height: 45px;
    width: 180px;
    color: #212529;
    background-color: #333333;
    color: #FFFFFF;
    border-radius: 3px;
    font-size: 12px;
    font-size: 15px;
}





/* =================================================================================== */








.Signup_navbar{
   height: 80px;
   width: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Signup_navbar_acc{
color: #999999;
font-size: 14px;
margin-right: 5px;
}
.Signup_navbar_login{
    display: flex;
    color: blue;
}

/* .Signup_text{
    height: 150px;
    width: 100%;
     border: 1px solid red;
     text-align: center;
}

.Signup_text1{
font-size: 34px;
margin-top: 10px;
}

.Signup_text2{
font-size: 21px;
color: #666666;
margin-top: 10px;
}

.Signup_text3{
font-size: 15px;
color: #999999;
margin-top: 10px;
} */

/* ------------------------------------------------------- */
.Signup_input_box{
    height: 450px;
    width: 35%;
    /* border: 1px solid red; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #FFFFFF;
    margin: 30px auto;
    display: flex;
    margin-bottom: 20px;
}

.Signup_inner_input_box{
    height: 90%;
    width: 80%;
    background-color: #FFFFFF;
    /* border: 1px solid red; */
    margin: auto;
}

.Input_email{
    height: 45px;
    width: 100%;
    background-color: #FFFFFF;
    border: 1px solid rgb(189, 184, 184);
    margin-top: 20px;
    font-size: 15px;
    padding-left: 10px;

}
.Input_h2{
    margin-top: 10px;
    background-color: #FFFFFF;
    font-size: 20px;
}
/* -------------------------------------------------------------------- */
.Input_checkbox{
    background-color: #FFFFFF;
    margin: 15px 0px 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Input_forgot_password{
    margin-right: 40px;
    background-color: #FFFFFF;
    color: blue;
}

.Input_checkbox1{
    background-color: #FFFFFF;
}
.Input_checkbox1>label{
    background-color: #FFFFFF;
    color: #333333;
    font-size: 14px;
}

.Input_checkbox_in{
    background-color: #FFFFFF;
    color: #333333;
    font-size: 14px;
}

.Input_checkbox_in{
    margin-left: 20px;
}




/* -------------------------------------------------------------------- */
.Signup_btn{
    height: 45px;
    width: 100%;
    background-color: #4ab3e4;
    border-radius: 1px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}


.Signup_or{
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Signup_l{
    border: 1px solid rgb(204, 201, 201);
   width: 50%;
  
}
.Signup_or>span{
    padding: 10px;
    background-color: #FFFFFF;
}

.Signup_google{
    height: 50px;
    width: 100%;
    background-color: #FFFFFF;
    border: 1px solid rgb(189, 184, 184);
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
.Signup_google:hover{
    cursor: pointer;
    background-color: #ebe1e1;
}

.Signup_google>img{
    font-size: 20px;
    background-color: #FFFFFF;
}
.Signup_google>span{
    color: #666666;
    font-size: 14px;
    margin-right: 50px;
    background-color: #FFFFFF;
}
.Signup_google>span:hover{
    background-color: #ebe1e1;
}

.Signup_after{
    height: 50px;
    width: 100%;
    /* border: 1px solid red; */
    text-align: center;
}

.Signup_language{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Signup_language>span{
    color: #666666;
    font-size: 17px;
    margin-left: 10px;
}


.Signup_condition{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.Signup_condition>span{
    color: #333333;
    font-size: 14px;
margin-left: 10px;
}

.Signup_condition>a{
    color: blue;
    font-size: 14px;
margin-left: 5px;
}
.Signup_condition>a:hover{
    text-decoration: underline;
}