
.World_Class_support{
    height: auto;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    background-color: #ecf2f8;
}

.World_Class_support_box{
    height: 60%;
    width: 100%;
    /* border: 1px solid red; */
    margin: auto;
    text-align: center;
    padding: 150px 0px 150px 0px;
}
.World_Class_support_box_h1{
    font-size: 34px;
    color: #3D4853;
}
.World_Class_support_box_p{
    display: flex;
   justify-content: center;
   margin-top: 10px;
}
.World_Class_support_box_p>p{
margin: 20px;
color: #5A6B7B;
font-size: 14px;
}



.Header__button_div{
    margin-top: 20px;
}
.Header__button{
    height: 50px;
    width: 300px;
    background-color: #0288D1;
    color: white;
    font-size: 23px;
    border-radius: 7px;
    margin-bottom: 15px;
}
.Header__text{
    width: 40%;
    height: 10px;
    margin: 10px auto;
   display: flex;
   align-items: center;
   justify-content: center;
}
.Header__text>a{
    color: #01579B;
    margin-left: 10px;
    font-size: 13px;
}
.Header__text:hover{
    text-decoration: underline;
}