
.Container{
    height: auto;
    width: 100%;
    border: 1px solid red;
}

.Customer_logo{
    height: 10%;
    width: 85%;
    border: 1px solid red;
    margin: auto;
   display: flex;
   justify-content: center;
}

.Customer_video_img{
    height: 90%;
    width: 85%;
    border: 1px solid red;
    margin: auto;
}
/* .Customer_video_logo{
    position: absolute;
    left: 600px;
    bottom: 400px;
} */