.Container{
    height: auto;
    width: 100%;
    border: 1px solid red;
}
.Advantage_box1{
    height: 20%;
    width: 100%;
    border: 1px solid red;
    text-align: center;
    padding: 100px 0px 60px 0px;
}
.Advantage_box1>h2{
    color: #3D4853;
    font-size: 34px;
}



.Advantage_box2{
    height: 80;
    width: 80%;
    border: 1px solid red;
    margin: auto;
}