*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
.Footer{
    height: 600px;
    width: 80%;
    border: 1px solid red;
    margin: auto;
    margin-top: 30px;
}
/* ============================================================================================ */
.Footer_div1{
    /* height: 80%;
    width: 100%; */
    border: 1px solid red;
}
/* ============================================================================================ */
.Footer_div2{
    /* height: 20%;
    width: 100%; */
    border: 1px solid red;
}

/* ============================================================================================ */