*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.Footer{
    height: auto;
    width: 90%;
    /* border: 1px solid red; */
    margin: auto;
   padding: 100px 0px 0px 0px;
}
/* ============================================================================================ */

.Footer_div1{
    display: flex;
}

.Footer_div1_first{
    width: 30%;
    /* border: 1px solid blue; */
}
.Footer_div1_first>div{
    margin-top: 10px;
    cursor: pointer;
}
.Footer_div1_first_p{
    color: #78909C;
    font-size: 12px;
}
.Footer_div1_first_signup{
    color: #78909C;
    font-size: 13px;
}
.Footer_div1_first_signup:hover{
    color: #03A9F4;
}
.Footer_div1_first_login{
    color: #78909C;
    font-size: 13px;
}
.Footer_div1_first_login:hover{
    color: #03A9F4;
}


/* ================================================================================ */


.Footer_div1_secound{
    height: auto;
    width: 70%;
    /* border: 1px solid blue; */
}


.Footer_div1{
    height: auto;
    /* border: 1px solid red; */
}
.Footer_div1_box{
    margin-left: 40px;
}
.Footer_div1_box1{
    margin-top: 20px;
}

.Footer_div1_box1>h3{
    color: #333436;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
   
}
.Footer_div1_box1a{
    font-family: 'Roboto', sans-serif;
    color: #5A6B7b;
    font-size: 17px;
    margin-top: 9px;
    cursor: pointer;
}



/* ============================================================================================ */
.Footer_div2{
    
    /* border: 1px solid red; */
    padding: 50px 0px 30px 0px;
}
.Footer_div2_box1{
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    color: #7F9CAD;
   
}
.Footer_div2_box2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 5px;
    
}
.Footer_div2_box2>div{
    padding: 5px;
}
.Footer_div2_box3{
    font-size: 13px;
    color: #7F9CAD;
}
.Footer_div2_box4{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.Footer_div2_box4>div>p{
    font-size: 13px;
    color: #7F9CAD;
    padding-left: 10px;
    
}

/* ============================================================================================ */