
.Container{
    width: 60%;
  border: 1px solid red;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  margin: 20px auto;
    
}

.btn{
    height: 40px;
    width: 100px;
    border: 0px;
    background-color: tomato;
    color: white;
    border-radius: 50px;
    cursor: pointer;
}

.Asbtn{
    height: 40px;
    width: 150px;
    border: 0px;
    background-color: blue;
    color: white;
    border-radius: 50px;
    cursor: pointer;
  }